*{
    margin: 0%; 
    padding: 0; 
    box-sizing: border-box; 
} 

body{
    margin: 0; 
    padding: 0; 
    background-image: url(https://preview.redd.it/the-original-backrooms-wallpaper-texture-v0-hdcmfpdh37ya1.png?auto=webp&s=781cac819d1247ba38c0a1d00eec9b930d178b2f); 
    background-size: cover; 
    background-repeat: no-repeat;
} 

h1{
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: 900;  
    font-size: 3em; 
    text-align: center;  
    margin-top: 15px;
    padding-bottom: 20px; 
    color: #f7d578;
}  

p{
    text-align: left;   
    font-size: 1.7em;
    margin-left: 7%; 
    margin-right: 7%
}

.container{ 
    margin-top: 10%;
    height: 460px; 
    width: 800px; 
    overflow: hidden; 
    /* quando usado em conainer a imagens que ultrapassarem o container iram ficar encondidas */  
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    /* Codio transform usado para alterar a poxição do eixo de uma imagem */ 
} 

.imagem img{
    height: 100%; 
    width: 100%;
} 

input{
    display: none;
} 

.bar{
    background-color: #ffffff; 
    width: 30px;
    height: 5px;
    margin: 5px; 
    cursor: pointer; 
    transition: 0.5s;
}  

.bar:hover{
    background-color: #f7d578;
}

.navegacao{
    position: absolute; 
    bottom: 20px; 
    left: 50%; 
    transform: translate(-50%); 
    display: flex;
} 

.imagens{ 
    display: flex; 
    height: 100%; 
    width: 800%;
} 

.imagem{
    width: 12.5%; 
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
} 

#imagem1:checked ~ .img1 {
margin-left: 0;
/* ~ significa elementos irmãos de mesma posição hierarquica */
}  

#imagem2:checked ~ .img1 {
    margin-left: -12.5%;
} 

#imagem3:checked ~ .img1 {
    margin-left: -25%;
}

#imagem4:checked ~ .img1 {
    margin-left: -37.5%;
}

#imagem5:checked ~ .img1 {
    margin-left: -50%;
}

#imagem6:checked ~ .img1 {
    margin-left: -62.5%;
} 

#imagem7:checked ~ .img1 {
    margin-left: -75%;
} 

#imagem8:checked ~ .img1 {
    margin-left: -87.5%;
} 

main{
    margin-top: 40%; 
    margin-left: 10%; 
    margin-right: 10%;
} 

main h2{ 
    font-size: 30px;
    margin-left: 3%;  
    margin-top: 45px;
    margin-bottom: 45px; 
    line-height: 5px;
} 

del{
    color: #911010;
}

footer{
    margin-top: 5%; 
    margin-left: 25%; 
    margin-right: 25%;
} 

@media (max-width:480px){
    header h1{
        font-size: 38px; 
        margin-top: 40px;
        margin-left: 1%; 
        margin-right: 1%;
    } 


    .container{ 
        margin-top: 190%; 
        width: 95%;
    } 

    main{
        margin-top: 150%; 
    } 

    main h2{ 
        font-size: 24px;
        margin-left: -33px; 
        margin-bottom: 40px; 
    }  

    main p{ 
        font-size: 25px;
        margin-left: 1.5%; 
        margin-right: 1.5%;
    }

    footer{
        font-size: 15px; 
        margin-left: 3%; 
        margin-right: 3%; 
    }
    
}





